<h1>My meals</h1>

<div class="server-alert"></div>

<div class="new-meal">
  <form class="js-newmealform">
    <input class="js-newmealfield" type="text" name="name" placeholder="Meal" autocomplete="off">
    <input type="text" name="latest" placeholder="When" value="<%= Date.to_string(Date.utc_today) %>" autocomplete="off">
    <input type="submit">
  </form>
</div>

<div class="server-meals js-meals"></div>
</div>
