.header {
  font-family: "Helvetica";
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.title {
  font-size: 1.9em;

}

.logout-link {
  float: right;
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}