.container {
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 4fr [col3] 1fr [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
  grid-gap: 0px;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: [col2] auto;
  }
}

.container .header {
  grid-column: col2;
  grid-row: row1-start;
  background-color: lightgrey;
  height: 3em;
}

.container .alerts {
  grid-column: col2;
  grid-row: row2-start;
  background-color: red;
}

.container .content {
  grid-column: col2;
  grid-row: row3-start;
  padding: 0.5em;
}
